<!DOCTYPE html>
<html>
    <head>
        <title>Users index page</title>
    </head>
    <body>
        <h1>Users</h1>
        <table>

            <tr>
                <th>inno</th>
                <th>ibeto</th>
                <th>20</th>
                <th>inno.ibeto@gmail.com</th>
            </tr>

        </table>
    </body>
</html>